<template>
  <div class="animated fadeIn">

    <b-row>
      <b-col lg="12">
        <c-table :table-data="items" :fields="fields" :per-page="15" caption=" Transactions"></c-table>
      </b-col>
    </b-row><!--/.row-->

  </div>

</template>

<script>
import { shuffleArray } from '@/shared/utils'
import cTable from './Table.vue'
import axios from 'axios'

const someData = () => shuffleArray([
])

export default {
  name: 'tables',
  components: {cTable},
  data: () => {
    return {
      items: someData,
      itemsArray: someData(),
      fields: [
        {key: 'id', label: '#', sortable: true},
        {key: 'name', label: 'Name', sortable: true},
        {key: 'email',  label: 'Email', sortable: true},
        {key: 'balance', label: 'Balance', sortable: true},
        {key: 'created_at', label: 'Date', sortable: true},
        {key: 'banned', label: 'Is Banned?', sortable: true},
        {key: 'ban', label: 'ban', sortable: true},

      ],
    }
  },
  mounted: function () {
    axios.get('http://127.0.0.1:8000/api/admin/users', {
      headers: { Authorization: `Bearer ${this.$store.state.jwt}` }
    }).then((response) => {
      if (response.data && response.data.length > 0) {
        this.items = response.data;
      }
    });
  }
}
</script>
