<template>
  <b-card :header="caption">
    <b-table :dark="dark" :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="captions" :current-page="currentPage" :per-page="perPage">
      <template slot="banned" slot-scope="data">
        <b-badge :variant="getBadge(data.item.banned)">{{data.item.banned}}</b-badge>
      </template>
      <template slot="edit" slot-scope="data">
        <b-badge :variant="'warning'">Edit</b-badge>
      </template>
      <template slot="ban" slot-scope="data">
        <b-badge @click="ban(data.item.id)" :variant="getBannedBadge(data.item.banned)">{{ data.item.banned ? 'UNBAN' : 'BAN'}}</b-badge>
      </template>

    </b-table>
    <nav>
      <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
    </nav>
  </b-card>
</template>

<script>

import  axios from 'axios'

export default {
  name: 'c-table2',
  inheritAttrs: false,
  props: {
    caption: {
      type: String,
      default: 'Table'
    },
    hover: {
      type: Boolean,
      default: false
    },
    striped: {
      type: Boolean,
      default: false
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    },
    tableData: {
      type: [Array, Function],
      default: () => []
    },
    fields: {
      type: [Array, Object],
      default: () => []
    },
    perPage: {
      type: Number,
      default: 5
    },
    dark: {
      type: Boolean,
      default: false
    }
  },
  data: () => {
    return {
      currentPage: 1,
    }
  },
  computed: {
    items: {
      get: function () {
        const items = this.tableData
        return Array.isArray(items) ? items : items()
      },
      set: function (newVal) {
        console.log(newVal);
        const items = newVal
        this.tableData = items
        return Array.isArray(items) ? items : items()
      }
    },
    totalRows: function () { return this.getRowCount() },
    captions: function() { return this.fields }
  },
  methods: {
    getBadge (status) {
      console.log(status);
      return status === 'Active' ? 'success'
        : status === 'Inactive' ? 'secondary'
          : status === 'Pending' ? 'warning'
            : status === 'Banned' ? 'danger'
              : status == '0' ? 'success' : 'danger'
    },
    getBannedBadge (banned) {
      return banned == '0' ? 'danger' : 'success'
    },
    ban(id) {
      axios.post('http://127.0.0.1:8000/api/admin/users/ban',
        {
          id: id
        },
        {
        headers: { Authorization: `Bearer ${this.$store.state.jwt}` }
        }
      ).catch(error => {
        console.log(error.response.data);
        alert(error.response.data.id.join(', '))
      }).
      then((response) => {
        axios.get('http://127.0.0.1:8000/api/admin/users', {
          headers: { Authorization: `Bearer ${this.$store.state.jwt}` }
        }).then((response2) => {
          if (response2.data && response2.data.length > 0) {
            this.items = response2.data;
          }
        });
      });
    },
    getRowCount: function () {
      return this.items.length
    }
  }
}
</script>
